.u-section-1-1 {
  background-image: url("images/luke-chesser-rCOWMC8qf8A-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 933px;
}

.u-section-1-1 .u-group-1 {
  width: 1306px;
  min-height: 216px;
  background-image: none;
  margin: 628px -83px 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1-1 .u-text-1 {
  margin: 44px 510px 0;
}

.u-section-1-1 .u-text-2 {
  margin: 19px 135px 0 134px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1-1 .u-group-1 {
    width: 940px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 327px;
    margin-right: 327px;
  }

  .u-section-1-1 .u-text-2 {
    font-weight: normal;
    margin-right: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 247px;
    margin-right: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 249px;
    width: 429px;
    margin-top: 131px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 177px;
    margin-right: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 77px;
    margin-right: 77px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 82px;
    margin-right: 82px;
  }
}.u-section-1-2 {
  background-image: url("images/kal-visuals-aK4iPNYipnU-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 933px;
}

.u-section-1-2 .u-group-1 {
  width: 1315px;
  min-height: 206px;
  background-image: none;
  margin: 665px -88px 0;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1-2 .u-text-1 {
  width: 253px;
  margin: 26px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 0 -60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1-2 .u-group-1 {
    width: 940px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 179px;
  }

  .u-section-1-2 .u-text-2 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1-2 .u-group-1 {
    width: 720px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-2 .u-group-1 {
    min-height: 249px;
    width: 429px;
    margin-top: 131px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 87px;
  }
}.u-section-1-3 {
  background-image: url("images/645606183-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 933px;
}

.u-section-1-3 .u-group-1 {
  width: 1301px;
  min-height: 228px;
  background-image: none;
  margin: 658px auto 47px -74px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 21px 60px;
}

.u-section-1-3 .u-text-1 {
  font-size: 1.5rem;
  width: 351px;
  margin: 0 auto;
}

.u-section-1-3 .u-text-2 {
  font-weight: normal;
  font-size: 3.75rem;
  margin: 22px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1-3 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 731px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1-3 .u-group-1 {
    width: 720px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-3 .u-text-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-3 .u-group-1 {
    min-height: 249px;
    width: 429px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1-3 .u-group-1 {
    width: 340px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-1 {
    width: 320px;
    margin-left: 106px;
  }

  .u-section-1-3 .u-text-2 {
    width: 320px;
    font-size: 3rem;
  }
}.u-block-82e4-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-82e4-3 {
  position: absolute;
  left: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}

.u-block-82e4-4 {
  position: absolute;
  right: 0;
  width: 85px;
  height: 85px;
  background-image: none;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 639px;
}

.u-section-2 .u-blog-1 {
  min-height: 526px;
  margin-top: 60px;
  margin-bottom: 53px;
  grid-auto-rows: 100%;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-blog-1 {
    min-height: 364px;
  }

  .u-section-2 .u-image-1 {
    height: 222px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 222px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 222px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-2 .u-blog-1 {
    min-height: 836px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-rows: calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-blog-1 {
    min-height: 526px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 14.6667px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 14.666666666666666px);
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(173,246,242,0.45), rgba(173,246,242,0.45)), url("https://cdn.glitch.com/ddaa097a-bb4c-40b3-9874-74aaad2a6dd6%2Fcovid.jpg?v=1617853092012");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 145px 226px 0 220px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 55px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 170px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 107px;
  }
}
}.u-section-11 {
  background-image: linear-gradient(0deg, rgba(173,246,242,0.45), rgba(173,246,242,0.45)), url("https://cdn.glitch.com/ddaa097a-bb4c-40b3-9874-74aaad2a6dd6%2Fcovid.jpg?v=1617853092012");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 700px;
}

.u-section-11 .u-text-1 {
  font-size: 4.5rem;
  margin: 145px 226px 0 220px;
}

.u-section-11 .u-text-2 {
  font-size: 3rem;
  margin: 55px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 170px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 107px;
  }
}
}.u-section-4 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-4 .u-text-1 {
  width: 762px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 647px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  min-height: 644px;
  grid-auto-rows: 100%;
  margin: 43px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-auto-rows: calc(50% - 15px);
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-4 .u-list-1 {
    min-height: 531px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    min-height: 915px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(33.33% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    min-height: 644px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 25px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 775px;
}

.u-section-5 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-5 .u-blog-1 {
  min-height: 511px;
  margin-top: 48px;
  margin-bottom: 60px;
  grid-auto-rows: 100%;
  height: auto;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
}

.u-section-5 .u-repeater-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 222px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 17px 8px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 222px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 17px 8px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 222px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 17px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-5 .u-blog-1 {
    min-height: 364px;
    margin-top: 118px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 441px;
  }

  .u-section-5 .u-blog-1 {
    min-height: 836px;
    margin-top: -345px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-rows: calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 829px;
  }

  .u-section-5 .u-blog-1 {
    margin-top: -733px;
    min-height: 511px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 14.6667px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 904px;
  }

  .u-section-5 .u-blog-1 {
    margin-top: -795px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 14.666666666666666px);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 835px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 239px;
  font-weight: normal;
  margin: 63px auto 0;
}

.u-section-6 .u-text-2 {
  width: 488px;
  margin: 17px auto 0;
}

.u-section-6 .u-blog-1 {
  min-height: 545px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 20px 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
}

.u-section-6 .u-repeater-item-1 {
  background-size: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 8px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 12px auto 0;
}

.u-section-6 .u-repeater-item-2 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 8px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  margin: 12px auto 0;
}

.u-section-6 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  margin: 8px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-6 .u-blog-1 {
    min-height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -14px;
  }

  .u-section-6 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-6 .u-image-2 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 30px;
    margin-top: -57px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 27px;
  }

  .u-section-6 .u-image-3 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 30px;
    margin-top: -57px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-6 .u-blog-1 {
    min-height: 711px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-rows: calc(50% - 11px);
  }

  .u-section-6 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-6 .u-blog-1 {
    min-height: 1517px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 14.6667px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-blog-1 {
    min-height: 1169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 14.666666666666666px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 71px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 71px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7 .u-image-1 {
  width: 1018px;
  height: 702px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 648px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 234px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 615px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 525px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 110px 0 0;
}

.u-section-8 .u-form-1 {
  width: 510px;
  height: 371px;
  margin: 41px -76px 0 0;
}

.u-section-8 .u-form-group-1 {
  width: 100%;
}

.u-section-8 .u-form-group-2 {
  width: 100%;
}

.u-section-8 .u-form-group-3 {
  width: 100%;
}

.u-section-8 .u-form-group-4 {
  width: 100%;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.4375rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.875rem;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 163px;
  height: 177px;
  margin: 28px auto -30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 174px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-8 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 324px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 79px;
}

.u-section-9 .u-text-1 {
  width: 431px;
  margin: 20px auto;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

.u-section-13 {
  background-image: linear-gradient(0deg, rgba(173,246,242,0.45), rgba(173,246,242,0.45)), url("https://cdn.glitch.com/ddaa097a-bb4c-40b3-9874-74aaad2a6dd6%2Fphoto-1434493789847-2f02dc6ca35d.jpg?v=1621729494479");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 700px;
}

.u-section-13 .u-text-1 {
  font-size: 4.5rem;
  margin: 145px 226px 0 220px;
}

.u-section-13 .u-text-2 {
  font-size: 3rem;
  margin: 55px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 170px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 107px;
  }
 }
.cover{
  /*Cada vez que se encuentre la clase cover se cumpliran las siguientes condiciones*/
  height:600px; /*El elemento tendrá un tamaño de 400 pixeles*/
  background-image:url(https://cdn.glitch.com/ddaa097a-bb4c-40b3-9874-74aaad2a6dd6%2Frsz_final_1fitnish-media-jfzoztf-9yk-unsplash.jpg?v=1616437293095);
  /*Se tendrá la imagen de fondo especificada en la URL
  background-size: cover; La imagen cubrirá toda la pantalla*/
  background-position:center; /*La imagen siempre estará centrada*/
  color:black; /*El fondo de pantalla será negro*/
}
.coversmall{
/*Cada vez que se encuentre la clase coversmall se cumplirá la siguiente condición*/
  height:200px; /*El elemento tendrá un tamaño de 200px*/
}
.separacion{
/*Cada vez que se encuentre la clase separación se cumplirá la siguiente condición*/
  color:white; /*El elemento será de color blanco*/
}
.card-title{
/*Cada vez que se encuentre la clase card-title se cumplirá la siguiente condición*/
  height:3rem; /*El elemento tendrá un tamaño de 3 rem*/
}
